body {
    font-family: "Gotham 4r", Arial, sans-serif;
    font-size: 16px;
}
header {
    background: url("../images/header.png") center no-repeat;
    height: 234px;
    margin-bottom: 20px;
    text-indent: -2000px;
}
aside {
    background: url("../images/left-nav.png") no-repeat;
}
aside nav {
    text-indent: -2000px;
}
footer {
    background: url("../images/footer.png") center no-repeat;
    height: 1078px;
    margin: 20px 0;
    text-indent: -2000px;
}
h3 {
    font-size: 1.6em;
    line-height: 1.8em;
    margin-bottom: 20px;
}
.category-grid {
    position: relative;
}
.main-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    display: block;
    height: 220px;
    width: 220px;
    transition: background-image 0.5s ease-in-out;
}
.quicklook {
    color: #006167;
    display: block;
    font-size: .9em;
    margin: 10px 0;
    text-decoration: underline;
}
.quicklook:hover,
.quicklook:focus {
    color: #866347;
    border-color: #866347;
}
p.desc {
    font-size: .9em;
    text-transform: none;
    line-height: 23px;
    color: #050708;
    padding: 0;
    text-align: left;
    display: block;
    float: none;
    margin: 0 0 10px;
    width: auto;
}
.thumbnails,
.pricing {
    display: block;
    list-style-type: none;
    padding-left: 0;
}
.pricing li {
    font-size: .8em;
    font-weight: bold;
    line-height: normal;
    display: inline-block;
}
#productPage .pricing li {
    color: darkgray;
    font-size: 1.2em;
    font-weight: 500;
}
.viewport-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.quicklook-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.5rem;
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
    width: 380px;
    z-index: 10;
}
.viewport-modal.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.quicklook-modal .close-icon {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.quicklook-modal .close-icon:hover {
    background-color: darkgray;
}
.quicklook-modal .carousel.main-image {
    height: 340px;
    width: 340px;
}
#productPage .main-image {
    height: 500px;
    width: 500px;
}
.thumbnails {
    display: block;
    height: 100px;
    margin: 10px 0 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.thumbnails li {
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    height: 80px;
    margin-right: 5px;
    width: 80px;
}
.thumbnails li:last-child {
    margin-right: 0;
}
#productPage .product-details {
    margin-left: 20px;
}
/*****
    Add animation (fade in the popup)
*****/

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*****
    Bootstrap overrides
*****/

figure {
    margin: 0 0 0;
}
/*****
    Media queries
*****/

@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}
