body {
    font-family: "Gotham 4r", Arial, sans-serif;
    font-size: 16px;
}
header {
    background: url("../images/header.png") center no-repeat;
    height: 234px;
    margin-bottom: 20px;
    text-indent: -2000px;
}
aside {
    background: url("../images/left-nav.png") no-repeat;
}
aside nav {
    text-indent: -2000px;
}
footer {
    background: url("../images/footer.png") center no-repeat;
    height: 1078px;
    margin: 20px 0;
    text-indent: -2000px;
}
.category-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 220px;
    width: 220px;
}
.quicklook {
    color: #006167;
    display: block;
    font-size: .9em;
    margin: 10px 0;
    text-decoration: underline;
}
.quicklook:hover,
.quicklook:focus {
    color: #866347;
    border-color: #866347;
}
.desc {
    font-size: .9em;
    text-transform: none;
    line-height: 23px;
    color: #050708;
    padding: 0;
    text-align: left;
    display: block;
    float: none;
    margin: 0 0 10px;
    width: auto;
}
.pricing {
    list-style-type: none;
    padding-left: 0;
}
.pricing li {
    font-size: .8em;
    font-weight: bold;
    line-height: normal;
    display: inline-block;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}
